<header>
<img class="header-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Water_polo_ball.svg/768px-Water_polo_ball.svg.png" />
  <h1 class="main-header"> Women's Water Polo Club </h1>
  <nav>
    <ul class="navbar">
   <li class="navitem"> <a href="./index.html"> Home </a></li>
   <li class="navitem"> <a href="./aboutMembers.html"> Members </a></li>
   <li class="navitem"> <a href="./calendar.html"> Calendar </a></li>
    </ul>
  </nav>
</header>
