<button id="create-new-member-button"> <i class="fa fa-bullhorn"> </i> </button>
<div id="modal-backdrop" class="hidden"></div>
<div id="new-member-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>New Member</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="member-input-element">
        <label for="member-name-input">Name</label>
        <input type="text" id="member-name-input">
      </div>
      <div class="member-input-element">
        <label for="member-hobby1-input">List a hobby:</label>
        <input type="text" id="member-hobby1-input">
      </div>
      <div class="member-input-element">
        <label for="member-hobby2-input">List another hobby:</label>
        <input type="text" id="member-hobby2-input">
      </div>
      <div class="member-input-element">
        <label for="member-hobby3-input">List another hobby:</label>
        <input type="text" id="member-hobby3-input">
      </div>
      <div class="member-input-element">
        <label for="member-text-input">Tell us a little bit about yourself:</label>
        <textarea id="member-text-input"></textarea>
      </div>
      <div class "member-input-element">
        <label for="member-url-input">Upload profile picture</label>
        <input type="text" id ="member-url-input">
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create</button>
    </div>

  </div>
</div>
