.header-image{
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	margin: 2px;
}

.main-header{
	display: inline-block;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #5dacf9;

}

header{
	background-color: #ccecf3;
}

.navbar{
	background-color: #5dacf9;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

body{
	font-family: 'lato', sans-serif;
	margin: 0;
}

.navbar{
	list-style-type: none;
	font-size: 22px;
}

a{
	color: black;
	display: block;
	text-decoration: none;
	width: 110px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

a:hover{
	background-color: #ccecf3;
	color: #5dacf9;
}

.navitem{ 
	display: inline-block;
	font-weight: bold;
}

#active{
	border-bottom: 4px solid;
}

//This slideshow info from w3schools.com/howto/howto-js_slideshow.asp
.slideshow-container{
	max-width: 1000px;
	height: 1000px;
	position: relative;
	margin: auto;
}

.slides{
	display: inline-block;
}

.slide-pic{
//	display: none;
	display: inline-block;
	max-width: 500px;
	max-height: 500px;
	height: auto;
	width: auto;
}

#create-announcement-button{
	width: 50px;
	height: 50px;
}

//Members

.member-image{
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
}

.member-hobbies{
	display: inline-block;
}

.three-hobbies{
	display: inline-block;
	margin: 0;
}

.member-about{
	display: inline-block;
}
	
