.header-image{
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	margin: 2px;
}

.main-header{
	display: inline-block;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #5dacf9;

}

header{
//	background-color: #7eb7ef;
	
	background-color: #ccecf3;
}

.navbar{
	background-color: #5dacf9;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

body{
	margin: 0;
}

.navbar{
	list-style-type: none;
	font-size: 22px;
}

.navitem{
	display: inline-block;
	margin: 10px;
}


//This slideshow info from w3schools.com/howto/howto-js_slideshow.asp
.slideshow-container{
	max-width: 1000px;
	height: 1000px;
	position: relative;
	margin: auto;
}

.slides{
//	display: none;
	max-width: 230px;
	max-height: 95px;
	height: auto;
	width: auto;
}

#create-announcement-button{
	width: 50px;
	height: 50px;
}
