<input type="image" id="create-new-member-button" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Bullhorn_font_awesome.svg/2000px-Bullhorn_font_awesome.svg.png" /> <!--should implement button icon but not working-->
<div id="modal-backdrop" class="hidden"></div>
<div id="new-member-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>New Member</h3>
      <button type="button" class="modal-close-button">&times;</button> <!--modal-close-button?-->
    </div>

    <div class="modal-body">
      <div class="member-input-element">
        <label for="member-name-input">Name</label>
        <input type="text" id="member-name-input">
      </div>
      <div class="member-input-element">
        <label for="member-hobbies-input">List three hobbies</label>
        <ul id="member-hobbies-input"></ul> <!--or textarea?-->
          <li id="member-hobby"></li> <!--repeat 3x?-->
      </div>
      <div class="member-input-element">
        <label for="member-text-input">Write information about you here...</label>
        <textarea id="member-text-input"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create</button>
    </div>

  </div>
</div>


<!--
<article class = "member">
  <img class="member-image" src = "isabella_profile.jpg" height = "250" weight = "250">
    <p class = "name">Isabella</p>
    <div class = "member-hobbies">
      <ul class="three-hobbies">
        <li class="hobby"> Playing piano </li>
        <li class="hobby"> Run on the indoor track</li>
        <li class="hobby"> Binge-watch TV shows </li>
      </ul>
  </div>
  <div class = "member-about">
    <p class = "more-about-member">
      I am interested in playing water polo now that I have moved to Oregon for school. I am currently a sophomore in Business Information Systems.
    </p>
  </div>
</article>
-->
