.header-image{
	width: 50px;
	height: 50px;
	display: inline-block;
	float: left;
	margin: 2px;
}

.main-header{
	display: inline-block;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #5dacf9;

}

header{
	background-color: #ccecf3;
}

.navbar{
	background-color: #5dacf9;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

body{
	font-family: 'lato', sans-serif;
	margin: 0;
}

.navbar{
	list-style-type: none;
	font-size: 22px;
}

a{
	color: black;
	display: block;
	text-decoration: none;
	width: 110px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
}

a:hover{
	background-color: #ccecf3;
	color: #5dacf9;
}

.navitem{
	display: inline-block;
	font-weight: bold;
}

#active{
	border-bottom: 4px solid;
}

//This slideshow info from w3schools.com/howto/howto-js_slideshow.asp

.slideshow-container{
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.slides{
	display: none;
}

.prev{
	float: left;
	cursor: pointer;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	background-color: grey;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next{
	float: right;
	top: 50%;
	cursor: pointer;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	background-color: grey;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.prev:hover,.next:hover{
	background-color: rgba(0,0,0,0.8);
}

.dot{
	cursor:pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover{
	background-color: #717171;
}

.slide-pic{
	max-width: 600px;
	max-height: 500px;
	margin: auto;
	display: block;
}

#create-announcement-button{
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 13px;
	background-color: #ccecf3;
	border-radius: 50%;
	box-shadow: 0 0 0 5px black;
}

/*Members*/
.member-container{
	background-color: #f5f0f0;
}

.member{
	background-color: white;
	display: inline-block;
	max-width: 500px;
	max-height: 400px;
	margin: 5px;
	border: 2px solid black;
}

.member-image{
	display: inline-block;
	float: left;
	max-width: 250px;
	max-height: 250px;
}

.name{
	font-weight: bold;
	font-size: 25px;
}

.member-hobbies{
	display: inline-block;
}

.three-hobbies{
	display: inline-block;
	margin: 0;
}

.member-about{
	display: inline-block;
}

//New Member Modal

#create-new-member-button {
	/*width: 30px; <<
	height: 30px; <<
	position: fixed; <<
	bottom: 10px; <<
	right: 10px; << */
	padding: 13px;
	background-color: #ccecf3;
	border-radius: 50px;
	box-shadow: 0 0 0 5px black;
	cursor: pointer;

	position: fixed;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border: none;
  /*border-radius: 30px;*/
  font-size: 36px;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.member-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.member-name-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.member-name-input input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.member-hobby1-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.member-hobby1-input input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.member-hobby2-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.member-hobby2-input input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}


.member-hobby3-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.member-hobby3-input input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}


.member-text-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.member-text-input input,
.member-text-input textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.member-url-input label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.member-url-input input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}

//Calendar

.month{

	padding: 50px 25px;
	background-color: #1b4d7e;

}
.month ul{
	list-style-type: none;
	margin: 0;

	padding: 0;
}
.month ul li{
	text-align:center;
	color: white;
	font-size: 40px;
	letter-spacing: 3px;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
	width: 13.6%;
}

.weekdays li {
    display: inline-block;
	font-size: 30px;
    width: 13.6%;
    color: #666;
    text-align: center;
}


.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
	height: 100px;
	vertical-align: top;

}
.empty .days{
	background-color:white;
}
.calendar{
	width: 100%;
}
.days p {
	text-align:center;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: left;
	height: 50px;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;

	border: hidden;

}
