<div id="modal-backdrop" class="hidden"></div>
    <div id="create-annoucement-modal" class="hidden">
        <div class="modal-dialog">

            <div class="modal-header">
                <h3>Post an annoucement</h3>
                <button type="button" class="modal-close-button">&times;</button>
            </div>

            <div class="modal-body">
                <div class="annoucement-input-element">
                    <label for="annoucement-text-input">Annoucement Text</label>
                    <textarea id="annoucement-text-input"></textarea>
                </div>
                
                <div class="annoucement-input-element">
                    <label for="annoucement-attribution-input">Author</label>
                    <input type="text" id="annoucement-attribution-input">
                </div>

                <div class="annoucement-input-element">
                    <label for="annoucement-date-input">Date (mm/dd/yyyy)</label>
                    <input type="text" id="annoucement-date-input">
                </div>        
            
            </div>

            <div class="modal-footer">
                <button type="button" class="modal-cancel-button">Cancel</button>
                <button type="button" class="modal-accept-button">Create Twit</button>
            </div>

        </div>
    </div>
</div>  
